<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      body,html{
        background: #666;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
