<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      body,html{
        background: #fff;
      }
      a{
        display: block;
        background: #ff6000;
        text-align: center;
        padding: 10px 40px;
        margin: 20px auto;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        max-width: 200px;
        border-radius: 3px;
      }
      .main-a{
        display: inline-block;
        margin-left: 100px;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
