
<h1 style="margin:50px 100px;font-size:100px;color:#ff6000;font-weight:700;">{{title}}</h1>
<p style="margin:50px 100px;font-size:30px;color:#ff7000;font-weight:700;">Welcome to {{title}}</p>
<script type="text/javascript" src="{{jsModel}}"></script>
