<div style="">
  <a href="/teams">查看球队战绩</a>
</div>
{{#each listData}}
<div style="border:1px solid #e8e8e8;border-radius:2px;padding:5px 10px;margin:10px auto;width:600px;">
  <h3 style="color:#01aef2;padding-right20px;">{{title}}</h3>
  <p style="color:#999;padding-right20px;font-size:16px;">{{des}}</p>
  <p style="font-size:14px;">
    <span style="color:gold;padding-right:20px;">{{createTime}}</span>
    <span style="color:orange;padding-right:20px;">消息来自: {{comeFrom}}</span>
  </p>
</div>
{{/each}}
