{{#each listObj}}
<div style="width:600px;border-radius:5px;padding:5px 10px;margin:10px auto;background:#f1f8f7;text-align:center;">
  <img style="display:block;margin:10px auto 20px;width;100px;height:100px;" src={{teamIcon}} alt="球队logo" />
  <p>
    <span style="color:#01aef2;padding-right20px;font-size:20px;font-weight:700;">球队: {{teamName}}</span>
    <span style="color:#666;padding-right20px;font-size:20px;font-weight:700;">目前战绩: {{teamRecord}}</span>
  </p>
</div>
{{/each}}
